@model ICollection<Country>
@{
    ViewData["Title"] = "Country Database";
}

<h1>Country Database</h1>
<p>Catalogue with data pulled from a database</p>

<a asp-action="Create">Create</a>
<a asp-action="Index">Refresh list</a>

<form asp-controller="Country" asp-action="Index">
    <p>
        <input type="text" placeholder="Filter by name..." name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Cities</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.CountryName</td>
                <td>@item.Cities.Count</td>
                <td>
                    <a asp-action="Edit" asp-route-CountryName=@item.CountryName>Edit</a> |
                    <a asp-action="Details" asp-route-CountryName=@item.CountryName>Details</a> |
                    <a asp-action="Delete" asp-route-CountryName=@item.CountryName>Delete</a>
                </td>
            </tr>
            }

        </tbody>
    </table>
</div>
