@model ICollection<PersonLanguage>

<h1>PersonLanguage Database</h1>

<a asp-action="Create">Create</a>
<a asp-action="Index">Refresh list</a>

<form asp-controller="Language" asp-action="Index">
    <p>
        <input type="text" placeholder="Filter by name..." name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Person ID</th>
                <th>Language Name</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.PersonId</td>
                    <td>@item.LanguageId</td>
                    <td><a asp-action="Delete" asp-route-PersonId=@item.PersonId>Delete</a></td>
                </tr>
            }

        </tbody>
    </table>
</div>

