@model ICollection<City>
@{
    ViewData["Title"] = "City Database";
}

<h1>City Database</h1>
<p>Catalogue with data pulled from a database</p>

<a asp-action="Create">Create</a>
<a asp-action="Index">Refresh list</a>

<form asp-controller="City" asp-action="Index">
    <p>
        <input type="text" placeholder="Filter by name..." name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>City</th>
                <th>Country</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.CityName</td>
                    <td>@item.CountryName</td>
                    <td>
                    <a asp-action="Edit" asp-route-CityName=@item.CityName>Edit</a> |
                    <a asp-action="Delete" asp-route-CityName=@item.CityName>Delete</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>
