@model Person

@{
    ViewData["Title"] = "Test Edit";
}

<h1>Edit</h1>

<div>
    <form asp-action="Edit" method="post">

    <div asp-validation-summary="ModelOnly"></div>

        @Html.HiddenFor(model => model.PersonId)

        <div>
            <label asp-for="Name"></label>
            <input asp-for="Name" value="@Html.DisplayNameFor(model => model.Name)" />
            <span asp-validation-for="Name"></span>
        </div>
        <div>
            <label asp-for="PhoneNumber"></label>
            <input asp-for="PhoneNumber" value="@Html.DisplayNameFor(model => model.PhoneNumber)" />
            <span asp-validation-for="PhoneNumber"></span>
        </div>
        <div>
            <label asp-for="City"></label>
            <input asp-for="City" value="@Html.DisplayNameFor(model => model.City)" />
            <span asp-validation-for="City"></span>
        </div>
        <div>
            <input type="submit" value="Save" />
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Go back</a>
</div>