@model PersonViewModel

@{
    ViewData["Title"] = "Test Arena";
}

<div class="d-flex justify-content-center">
    <h1>Test Arena</h1>
</div>

<div class="container d-flex justify-content-center">

    <div class="flex-row">
        <partial name="_createPartial" model="@Model.CreateVM" />
    </div>
    
    <div class="flex-row-reverse">
        <partial name="_searchPartial" model="@Model.CreateVM" />
    </div>
    

</div>

<button id="jsonBtn">Test</button>

<div id="personList" class="container d-flex justify-content-center">
    @foreach (Person item in Model.listOfPeople)
    {
        <partial name="_listPartial" model="item" />
    }

</div>
        

