@{
    ViewData["Title"] = "Create role";
}

<h1>Create role</h1>

<form asp-action="Create" method="post">
    <label>Name:</label>
    <input type="text" name="name" />
    <input type="submit" value="Create" />
</form>

<a asp-action="Index">Go back</a>