
@{
    ViewData["Title"] = "Guessing Game";
}

<h1>Guessing Game</h1>

<p>Try to guess what number I am thinking of!</p>

@if (ViewBag.Message != null)
{
    <p>@ViewBag.Message</p>
}

<form asp-controller="Game" asp-action="GuessingGame" method="post">
    <label>Guess:</label>
    <input type="number" name="guessednum" />
    <input type="submit" value="Check" />
</form>