<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
            <h1 id="logo" class="navbar-brand">my page.</h1>
            <ul class="navbar-nav me-auto">
                <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Index">Index</a></li>
                <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="About">About</a></li>
                <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Projects">Projects</a></li>
                <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Contact">Contact</a></li>
                <li class="nav-item"><a class="nav-link" asp-controller="Doctor" asp-action="FeverCheck">Fever Check</a></li>
                <li class="nav-item"><a class="nav-link" asp-controller="Game" asp-action="GuessingGame">Guessing Game</a></li>
                <li class="nav-item"><a class="nav-link" asp-controller="Test" asp-action="Index">Catalogue JS</a></li>
                <li class="nav-item"><a class="nav-link" asp-controller="People" asp-action="Index">Catalogue DB</a></li>
            </ul>
        </div>

    </nav>
    <div>
        @RenderBody()
    </div>
    <footer class="mt-5 p-4 bg-dark text-white text-center">&copy; Pernilla Blomqvist - @DateTime.Now</footer>
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
