@model PersonViewModel

<form id="searchForm" asp-action="Search" method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="@Model.keyword">Search</label>
        <input id="searchValue" asp-for="@Model.keyword" />
        <input type="submit" value="Search" />
    </div>
</form>