@model LanguageCreateViewModel

@{
    ViewData["Title"] = "Create language";
}

<h1>Create new language</h1>

<div class="row">
    <div class="col-md-4">
        <div class="text-danger">
            @Html.ValidationSummary()
        </div>
        <form asp-action="Create" method="post">
            <div class="form-group">
                <label asp-for="LanguageName" class="control-label"></label>
                <input asp-for="LanguageName" class="form-control" />
            </div>
            <input type="submit" value="Create" class="btn btn-primary" />
        </form>
    </div>
    <a asp-action="Index">Go back</a>
</div>